{% extends "_includes/default.njk" %}

{% block title %}Testing, testing{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <span class="text-blue-600 text-3xl">Testing, testing..</span><br/>
      <span class="text-red-400 text-2xl">1....2....3....<br/></span>
    </div>
  </div>
{% endblock %}