{% extends "_includes/default.njk" %}

{% block title %}It's alive!{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <span class="text-blue-600 text-3xl">Up and running</span><br/>
      <span class="text-red-400 text-2xl">helloooooo world /wave<br/></span>
    </div>
  </div>
{% endblock %}