<footer class="flex justify-center ">
    <p class="absolute bottom-0 h-16">{{ siteSettings.companyName }} | <a href="{{ siteSettings.baseUrl }}" target="_blank">{{ siteSettings.baseUrl }}</a></p>
</footer>